<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ibatis方式进行数据库操作
    1.不需要写接口
    2.直接创建xml文件，并在内部编写sql语句
    3.namespace中没有任何要求，可以随意取名
    4.内部通过crud标签声明sql语句即可
                            -->
<mapper namespace="xx.jj">
    <!--    存放course表中的sql语句即可-->
    <select id="kkk" resultType="testmybatis.pojo.Course">
        select *
        from course
        where id = #{id}
    </select>

</mapper>